* {
    padding: 0;
    margin: 0;
    font-family: "Karla", sans-serif;
    color: #ffffff;
    box-sizing: border-box;
}

.nav {
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    height: 65px;
    display: flex;
    align-items: center;
}

.logo-image {
    height: 26px;
    margin: 20px 7px 20px 20px;
}

.nav >h2 {
    margin-right: auto; 
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: -0.1em;
}

.nav >h4 {
    margin-right: 40px; 
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
}

.main {
    margin: auto;
    max-width: 880px;
}
.form {
    color: #222222;
    display: grid;
    grid-template: 40px 40px/1fr 1fr;
    gap: 17px;
    margin-top: 36px;
}

.form-button {
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    grid-column: 1/-1;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.1em;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: solid 1px #D5D4D8;

}

.form-input {
    border: 1px solid #D5D4D8;
    border-radius: 5px;
    padding: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: #0D0D0D;
}

.image {
    width: 100%;
    margin-top: 36px;
}

.imageContainer {
    position: relative;
}

.topText {
    position: absolute;
    width: 80%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    top: 40px;
    margin-top: 10px;
    font-family: impact, sans-serif;
    color: white;
    font-size: 2em;
    text-shadow: 0px 3px 0px #000,
    0px 14px 10px rgba(0,0,0,0.15),
    0px 24px 2px rgba(0,0,0,0.1),
    0px 34px 30px rgba(0,0,0,0.1);

    

}
.bottomText {
    position: absolute;
    bottom: 40px;
    font-family: impact, sans-serif;
    color: white;
    font-size: 2em;
    max-width: 80%;
    /* text-overflow: ellipsis; */
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    text-shadow: 0px 3px 0px #000,
    0px 14px 10px rgba(0,0,0,0.15),
    0px 24px 2px rgba(0,0,0,0.1),
    0px 34px 30px rgba(0,0,0,0.1);

}